{
    "include": [
      "lib/*.ts",
      "lib/**/*.ts"
    ],
    "extension": [
      ".ts"
    ],
    "reporter": [
      "lcov",
      "text"
    ],
    "sourceMap": true,
    "instrument": true
}